<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - btt3</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/btt3.styles.css" asp-append-version="true" />
    @if (ViewData["LayoutType"]?.ToString() == "Admin")
    {
        <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css" />
        <link rel="stylesheet" href="~/dist/css/adminlte.min.css" />
    }
</head>
<body class="@(ViewData["LayoutType"]?.ToString() == "Admin" ? "hold-transition sidebar-mini layout-fixed" : "")">
    <div class="wrapper">
        @if (ViewData["LayoutType"]?.ToString() == "Admin")
        {
            @Html.Partial("_AdminNavbar")
            @Html.Partial("_AdminSidebar")
        }
        else
        {
            <header>
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                    <div class="container-fluid">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">btt3</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
        }
        <div class="@(ViewData["LayoutType"]?.ToString() == "Admin" ? "content-wrapper" : "container")">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        @if (ViewData["LayoutType"]?.ToString() == "Admin")
        {
            @Html.Partial("_AdminFooter")
        }
        else
        {
            <footer class="border-top footer text-muted">
                <div class="container">
                    &copy; 2025 - btt3 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>
        }

    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @if (ViewData["LayoutType"]?.ToString() == "Admin")
    {
        <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/dist/js/adminlte.min.js"></script>
    }

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
